a2a-sdk==0.3.25
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiomysql==0.3.2
aiosignal==1.4.0
aiosqlite==0.22.1
alabaster==1.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anthropic==0.87.0
anyio==4.12.1
asyncpg==0.31.0
attrs==25.4.0
babel==2.18.0
blaxel==0.2.36
boto3==1.42.80
boto3-stubs==1.42.80
botocore==1.42.80
botocore-stubs==1.42.41
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
claude-agent-sdk==0.1.24
click==8.3.1
cryptography==46.0.4
distro==1.9.0
dnspython==2.8.0
docstring_parser==0.17.0
docutils==0.22.4
email-validator==2.3.0
eval_type_backport==0.3.1
fastapi==0.128.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.11.0
fastar==0.8.0
fastuuid==0.14.0
filelock==3.25.2
frozenlist==1.8.0
fsspec==2026.3.0
google-api-core==2.30.1
google-auth==2.49.1
google-genai==1.69.0
googleapis-common-protos==1.73.1
greenlet==3.3.2
h11==0.16.0
hf-xet==1.4.3
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.8.0
idna==3.11
imagesize==2.0.0
importlib_metadata==8.7.1
invoke==2.2.1
Jinja2==3.1.6
jiter==0.13.0
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
litellm==1.82.6
llama_api_client==0.6.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mcp==1.26.0
mdurl==0.1.2
mistralai==1.12.4
multidict==6.7.1
mypy-boto3-sagemaker-runtime==1.42.54
ollama==0.6.1
openai==2.30.0
opentelemetry-api==1.40.0
opentelemetry-exporter-otlp-proto-common==1.40.0
opentelemetry-exporter-otlp-proto-http==1.40.0
opentelemetry-instrumentation==0.61b0
opentelemetry-instrumentation-threading==0.61b0
opentelemetry-proto==1.40.0
opentelemetry-sdk==1.40.0
opentelemetry-semantic-conventions==0.61b0
packaging==26.0
propcache==0.4.1
proto-plus==1.27.2
protobuf==6.33.6
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.10.1
PyMySQL==1.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
PyYAML==6.0.3
referencing==0.37.0
regex==2026.3.32
requests==2.32.5
rich==14.3.1
rich-toolkit==0.17.1
rignore==0.7.6
roman-numerals==4.1.0
rpds-py==0.30.0
s3transfer==0.16.0
sentry-sdk==2.51.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
Sphinx==9.1.0
sphinx-autodoc-typehints==3.9.11
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.48
sse-starlette==3.2.0
starlette==0.50.0
strands-agents==1.34.0
tenacity==9.1.4
tiktoken==0.12.0
tokenizers==0.22.2
tomli==2.4.0
tqdm==4.67.3
typer==0.21.1
types-awscrt==0.31.3
types-s3transfer==0.16.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.40.0
uvloop==0.22.1
watchdog==6.0.0
watchfiles==1.1.1
websockets==15.0.1
wrapt==1.17.3
writer-sdk==2.4.0
yarl==1.23.0
zipp==3.23.0
